@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 27% 90%; /* #ECE5DD */
    --foreground: 174 87% 18%; /* #075E54 */
    --card: 0 0% 100%;
    --card-foreground: 174 87% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 174 87% 18%;
    --primary: 174 82% 30%; /* #128C7E */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 174 87% 18%;
    --muted: 0 0% 94%;
    --muted-foreground: 174 87% 18%;
    --accent: 142 69% 52%; /* #25D366 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 94%;
    --input: 0 0% 94%;
    --ring: 142 69% 52%;
    --chart-1: 142 69% 52%;
    --chart-2: 195 85% 41%;
    --chart-3: 174 82% 30%;
    --chart-4: 174 87% 18%;
    --chart-5: 0 0% 94%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('/lottery_pattern.svg');
    background-repeat: repeat;
    background-color: hsl(var(--background));
  }
}
